.outterContainer {
  width: 100%;
  margin-top: 0%;
  display: flexbox;
  justify-content: center;
  background-color: rgb(204,0,0);
  position: fixed;
  font-size: 38px;
  left: 0;
  top: 0;
}
/* rgb(238,21,21); */

.innerContainer {
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin: 0%;
  background-color: rgb(204,0,0);
  align-items: center;
}

.landingButton {
  color:white;
  border-color: rgb(204,0,0);
  background-color: rgb(204,0,0);
  border-radius: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px; 
  margin-left: auto;
}

.landingButton:hover {
  filter: grayscale(30%);
  border-color: rgb(204,0,0);
  background-color: rgb(204,0,0);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
.landingButton:hover::after {
  content: '  WARNING: ¡App will reset if clicked! ';
  bottom: -30px; 
  left: 50%; 
  transform: translateX(-50%); 
  color: rgb(34,34,36); 
  background-color: rgb(255,222,0);
  font-size: 16px; 
  font-weight: bold; 
  visibility: visible; 
}
  
.landingButton::after {
  content: ''; 
  bottom: -30px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%; 
  height: 85px; 
  visibility: hidden; 
  background-color: white;
}

.formButton {
  color:white;
  border-color: rgb(204,0,0);
  background-color: rgb(204,0,0);
  border-radius: 0; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formButton:hover {
  filter: grayscale(30%);
  border-color: rgb(238,21,21);
  background-color: rgb(238,21,21);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homeButton {
  background-image: url("https://seeklogo.com/images/P/pokeball-logo-DC23868CA1-seeklogo.com.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  border-radius:50%;
  width: 100px;
  height: 100px;
  border: none;
  color: black; 
  font-size: 18px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-shadow: 0px 2px 2px gray;
  text-align: center;
  line-height: 24px; 
  padding-top: 55px;
}
 
.homeButton:hover {
  filter: brightness(120%);
  border-color:white;
  background-color: white;
  color: rgb(34,34,36);
}
