.container {
    color: red;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 10%; /* Adjust the width to make the container thinner */
    padding-top: 3%;
}
