.container {
    color: black;
    background-color: lightgray;
    background-image: url("https://i.pinimg.com/474x/ed/c7/c6/edc7c6437653ab73346c7bf08c884077.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 1px;
    width: 300px;
    height: 438px;
    margin: auto; 
    padding: 1%;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container:hover {
    filter: contrast(120%);
}

.image {
    width: 180px; 
    height: 180px; 
    border-radius: 20px;
    object-fit: contain; 
    margin-top: 15%;;
}


.name { 
    margin-top: 15%;
    font-family: 'Press Start 2P', cursive;
    color: goldenrod;
}

.name:hover {
    margin-top: 15%;
    font-family: 'Press Start 2P', cursive;
    text-decoration: underline; 
    text-decoration-color: silver;
}

.types {
 
    margin-top: 0%;
    font-family: 'Press Start 2P', cursive;
    color: goldenrod;
}

.types:hover {
    font-family: 'Press Start 2P', cursive;
    text-decoration: underline; 
    text-decoration-color: silver;
}