.container {
    color:lightgray;
   background-color: rgb(36, 35, 35);
   width: 30%;
   margin:auto;
   padding: 30%;
   height: 100%; 
}

.img {
   border-radius:10%;
   height: 70%;
   width: 70%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.error {
 background-color: lightcoral;
 color:blanchedalmond;
}

.submitButton {
 background-color: gray;
 color:lightgray;
 margin:10%;
}
.submitButton:disabled {
   /* Estilos cuando está deshabilitado */
   background-color: red; 
   color: #666666; 
 }

.email {
 background-color: lightgray;
 color:gray;
 border-radius: 5px;
 margin: 1%;
}

.password {
 background-color: lightgray;
 color:gray;
 border-radius: 5px;
 margin: 1%;
}

.form {
 text-align: center;
}

.guest {
 text-align: center;
}


.errorHeight {
   background-color: lightcoral;
   color:blanchedalmond;
  }

  .errorWeight {
   background-color: lightcoral;
   color:blanchedalmond;
  }

  .errorSpeed {
   background-color: lightcoral;
   color:blanchedalmond;
  }