.container {
   background-color: lightgrey;
   text-align: center;
   height: 1100px;
   width: 207vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: auto;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
   border-radius:10%;
   height: 30%;
   width: 30%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1%
}

.error {
 background-color: lightcoral;
 color:blanchedalmond;
}

.submitButton {
 background-color: gray;
 color:lightgray;
 margin:10%;
}
.submitButton:disabled {
   /* Estilos cuando está deshabilitado */
   background-color: red; 
   color: #666666; 
 }

.email {
 background-color: lightgray;
 color:gray;
 border-radius: 5px;
 margin: 1%;
}

.password {
 background-color: lightgray;
 color:gray;
 border-radius: 5px;
 margin: 1%;
}

.form {
 text-align: center;
}

.guest {
 text-align: center;
}


.errorHeight {
   background-color: lightcoral;
   color:blanchedalmond;
  }

  .errorWeight {
   background-color: lightcoral;
   color:blanchedalmond;
  }

  .errorSpeed {
   background-color: lightcoral;
   color:blanchedalmond;
  }