.container {
   background-color: lightgrey;
   text-align: center;
   height: 1300px;
   width: 207vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: auto;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 26px;
}

.img {
   border-radius:8%;
   height: 20%;
   width: 20%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 6%;
   margin-bottom: 0%;
   margin-left: 30%;
}

.error {
 background-color: rgb(255,222,0);
 color:rgb(34,34,36);
}

.submitButton {
 background-color: rgb(204,0,0);
 color:white;
 margin:10%;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.submitButton:disabled {
   /* Estilos cuando está deshabilitado */
   background-color: gray;
   color: white; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .submitButton:hover {
   border-color: rgb(204,0,0);
   background-color: rgb(204,0,0);
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

.errorHeight {
   background-color: rgb(255,222,0);
 color:rgb(34,34,36);
  }

  .errorWeight {
   background-color: rgb(255,222,0);
 color:rgb(34,34,36);
  }

  .errorSpeed {
   background-color: rgb(255,222,0);
 color:rgb(34,34,36);
  }

  .multiple {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 100px;
   height: 150px;
  }

  .form {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: left;
   margin: 1px;
  }

  .columns {
   display: flex;
   justify-content: space-between; /* Distribute columns evenly */
   width: 700px;
}

.column1 {
   flex: 1; /* Each column takes equal space */
   padding: 0px; /* Optional padding */
}
.column2 {
   flex: 1; /* Each column takes equal space */
   padding: 0px; /* Optional padding */
   overflow: auto;
}

/* To style titles differently if needed */
.title {
   font-weight: bold;
}